{% extends 'base.html.twig' %}

{% block title %}Dashboard Admin - Health North{% endblock %}

{% block body %}

<style>
    
        .btn {
        font-size: 1rem;
        border: 1.5px solid #ffffff ;
        background-color: white;
        border-radius: 0.5rem;
        box-shadow: 2.5px 3px 0 #082833;
        outline: none;
        transition: ease 0.25s;
        font-weight: 600;
        white-space: nowrap;
        padding: 3px 6px;
    }

     .btn:hover {
        box-shadow: 5.5px 7px 0 #082833;
        transform: translateY(-2px);
     }

</style>

<div class="container mt-4">
    <h2>Dashboard Admin</h2>
    <hr>
    <div class="row">
        <div class="col-md-4 mb-3">
            <div class="card text-center shadow-sm p-4">
                <i class="bi bi-person fs-1 "></i>
                <h3 class="mt-2">{{ totalPatients }}</h3>
                <p class="text-muted">Patients</p>
            </div>
        </div>
        <div class="col-md-4 mb-3">
            <div class="card text-center shadow-sm p-4">
                <i class="bi bi-person-circle fs-1 "></i>
                <h3 class="mt-2">{{ totalMedecins }}</h3>
                <p class="text-muted">Médecins validés</p>
            </div>
        </div>
        <div class="col-md-4 mb-3">
            <div class="card text-center shadow-sm p-4">
                <i class="bi bi-hourglass-split fs-1 "></i>
                <h3 class="mt-2">{{ medecinEnAttente|length }}</h3>
                <p class="text-muted">Demandes en attente</p>
            </div>
        </div>
    </div>

    {% if medecinEnAttente|length > 0 %}
    <div>
        <i class="bi bi-exclamation-triangle"></i>
        {{ medecinEnAttente|length }} demande(s) en attente de validation.
        <a href="{{ path('admin_medecins_attente') }}" class="alert-link">Voir les demandes</a>
    </div>
    {% endif %}

    <div class="row mt-3">
        <div class="col-md-6">
            <a href="{{ path('admin_medecins_attente') }}" class="btn  w-100 mb-2">
                <i class="bi bi-hourglass-split"></i> Gérer les demandes médecins
            </a>
        </div>
        <div class="col-md-6">
            <a href="{{ path('admin_users') }}" class="btn  w-100 mb-2">
                <i class="bi bi-people"></i> Gérer les utilisateurs
            </a>
        </div>
    </div>
</div>
{% endblock %}